div#resourcescollapse {
  background-color: #f3f6f9;
  max-width: 250px;
  position: absolute;
  height: 100%;
  border-right: 1px solid #dee2e6;
  z-index: 5;
}

@include media-breakpoint-up(md) {
  div#resourcescollapse {
    position: relative;
    height: auto;
  }
}

ul#menu-resources {
  .sub-menu {
    list-style: none;
    border-left: 1px solid #b6b6b6;
    padding-left: 10px;
    margin-left: 5px;
    margin-top: 10px;

    li {
      margin-bottom: 7px;

      a {
        color: #7a7a7a;
      }
    }

    .current-menu-item {
      position: relative;

      a {
        color: #81755f;
      }

      &:before {
        content: " ";
        background: #5d636c;
        width: 7px;
        height: 7px;
        position: absolute;
        left: -14px;
        top: 10px;
        border-radius: 5px;
      }
    }
  }
}

button.d-md-none.btn.btn-brown.resources-nav {
  position: absolute;
  left: 10px;
  top: -35px;
}

a.resources-close {
  position: absolute;
  top: 10px;
  right: 20px;
}

.resources-close svg {
  width: 22px;
}

.resources-open {
  font-size: 14px;

  svg {
    width: 15px;
    height: 12px;
    position: relative;
    top: -1px;
  }
}

.bg-blue {
  background-color: #f4f8fa;
}

.bg-green {
  background-color: #f2f8ef;;
}

.bg-purple {
  background-color: #f9f7fd;
}

.bg-white {
  background-color: #ffffff;
}

form#filter {
  display: flex;
  justify-content: center;

  input[type="radio"] {
    display: none;
  }

  label {
    border: 1px solid #e1e1e1;
    min-width: 100px;
    text-align: center;
    border-radius: 3px;
    margin-right: 8px;
    padding: 6px 0;
    cursor: pointer;

    &:hover, &.selected {
      background-color: #444;
      border-color: #444;
      color: #fff;
    }

  }

  input[type="radio"]:checked {
    label {
      border: 1px solid #007ab7;
      background-color: #007ab7;
      color: white;
    }
  }
}

.container-resources .wp-block-group ul li a {
  text-decoration: underline;
}

.previous-nav,
.next-nav {
  display: flex;
  align-items: center;

  svg {
  width: 20px;
  height: 20px;
  }
}

.resources-breadcrumb {
  color: #aeaeae;
  font-weight: 600;
  text-transform: uppercase;
}