.btn .btn-primary {
  background-color: #81755f;
  border-radius: 6px;
  color: #f0eadc;
  padding: 8px 22px 8px 12px;
  text-transform: capitalize;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
