.carousel-in-page {
  .carousel-item {
      transition: transform 2s ease-in-out;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      img {
        width: 100%;
        height: auto;
        max-height: 500px;
        min-height: 400px;
        @include media-breakpoint-up(lg) {
          min-height: 700px;
          max-height: 700px;;
        }
        @include media-breakpoint-up(md) {
          min-height: 500px;
        }
        object-fit: cover;
      }
    }
    
    .carousel-fade {
      .active {
        &.carousel-item-start,
        &.carousel-item-end {
          transition: opacity 0s 2s;
        }
      }
    }
    
    .carousel-inner {
      display: flex;
      align-items: center;
    }
  }