section.main-form {
  background-color: #f6fbfd;
}

section.main-form.blue-theme {
  background-color: $mimeo-blue-light;
}

section.main-form.block-theme.green-theme {
  background-color: $mimeo-green-light;
}

section.main-form.block-theme.purple-theme {
  background-color: $mimeo-purple-light;
}

section.main-form.block-theme.dark-theme {
  background-image: #333;
  opacity: 0.17;
}

.container .contact-form .mktoForm .mktoCheckboxList span,
.container .contact-form .mktoForm .mktoCheckboxList a {
  color: #666 !important;
}

.container .contact-form {
  position: relative;
  padding: 4rem 0;

  @include media-breakpoint-up(lg) {
    max-width: 80%;
  }

  @include media-breakpoint-up(xl) {
    padding: 4rem 0;
  }

  .row {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    h3 {
      margin: 0 auto;
      text-align: center;
      max-width: 90%;
      font-weight: 900;
      margin-bottom: 1rem;
      font-size: 1.75rem;

      @include media-breakpoint-up(md) {
        font-size: 2rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 2.25rem;
      }
    }

    h4 {
      color: #707070;
      font-size: 1.25rem;
      font-weight: normal;
      margin: 0 auto 2rem;
      text-align: center;
    }

    .g-recaptcha {
      visibility: hidden;
      padding-bottom: 20px !important;
      margin-top: -20px !important;
    }

    .mktoForm .g-recaptcha {
      visibility: visible;
    }

    .mktoForm .g-recaptcha > div {
      margin: 12px auto;
      text-align: center;
      transition: background-color 400ms ease-in;
      overflow: hidden;
    }
  }

  .hero-banner-form .container .contact-form {
    padding: 2rem 0;

    @include media-breakpoint-up(lg) {
      max-width: 100%;
    }
  }

  .section-background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .main-contact-form .mktoForm {
    .mktoFormRow {
      width: 100%;
      margin-bottom: 1.3rem !important;
    }

    @include media-breakpoint-up(xxl) {
      .mktoFormRow:nth-child(2),
      .mktoFormRow:nth-child(3),
      .mktoFormRow:nth-child(4),
      .mktoFormRow:nth-child(5),
      .mktoFormRow:nth-child(6),
      .mktoFormRow:nth-child(7),
      .mktoFormRow:nth-child(8),
      .mktoFormRow:nth-child(9) {
        width: 48%;
        float: left;
        clear: none;
      }
    }

    .mktoFormRow:nth-child(2),
    .mktoFormRow:nth-child(4),
    .mktoFormRow:nth-child(6),
    .mktoFormRow:nth-child(8) {
      margin-right: 20px !important;
    }

    .mktoFormRow:nth-child(9),
    .mktoFormRow:nth-child(10),
    .mktoFormRow:nth-child(11),
    .mktoFormRow:nth-child(12),
    .mktoFormRow:nth-child(13),
    .mktoFormRow:nth-child(14),
    .mktoFormRow:nth-child(15),
    .mktoFormRow:nth-child(16),
    .mktoFormRow:nth-child(17),
    .mktoFormRow:nth-child(18) {
      display: none !important;
    }

    input[type="text"],
    input[type="url"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="date"],
    textarea.mktoField,
    select.mktoField {
      border: 1px solid #e0e0e0 !important;
      border-radius: 0 !important;
      height: 44px !important;
      width: 100%;
      font-size: 0.875rem !important;
      color: #737b7d !important;
      padding-left: 1rem !important;
      box-shadow: none !important;
      background: white !important;
    }

    textarea.mktoField {
      height: 100px !important;
      border-radius: 0 !important;
      padding-top: 1rem !important;
    }

    .mktoButtonWrap.mktoSimple {
      margin-left: 0 !important;
    }

    .mktoButtonWrap.mktoSimple .mktoButton {
      font-size: 0.875rem !important;
      min-width: auto;
      margin-top: -1rem;
      box-shadow: none !important;
      color: #fff;
      border: 1px transparent;
      padding: 10px 14px !important;
      background-image: linear-gradient(90deg, #824d9d, #368bbe, #60a361) !important;
      border-radius: 0;
      width: 160px;
      font-weight: 700;

      &:hover {
        background-color: #8a98a1 !important;
        border-color: #338dcf !important;
      }
    }
  }
}

.single.single-post {
  .contact-form .main-contact-form .mktoForm .mktoFormRow {
    width: 47%;
  }
}

section.main-form {
  background-color: #ffffff;
}

.container .contact-form {
  max-width: 100%;

  .row {
    max-width: 100%;
    text-align: left;
  }
}

.mktoForm {
  .mktoLabel, label.mktoLabel {
    display: block !important;
    font-weight: normal !important;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #39404A;
  }
}

.container .contact-form .main-contact-form .mktoForm {
  .mktoFormRow {
    margin-bottom: 12px !important;
  }

  select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
  }
}

.mktoForm .mktoAsterix {
  display: none !important;
  float: right;
  color: #444 !important;
}

.container .contact-form .main-contact-form .mktoForm {
  input {
    &[type=date], &[type=email], &[type=number], &[type=tel], &[type=text], &[type=url] {
      border: 1px solid #afafaf !important;
      border-radius: 4px !important;
    }
  }

  select.mktoField, textarea.mktoField {
    border: 1px solid #afafaf !important;
    border-radius: 4px !important;
  }
}

#FirstName, #LastName, #Email, #Company, #Title, #Phone, #Employees__c, #How_did_you_hear_about_us__c {
  background-image: url("../../images/user-solid-light-gray.svg") !important;
  background-repeat: no-repeat !important;
  padding-left: 42px !important;
  background-position: 10px 12px !important;
}

#Company {
  background-image: url("../../images/building-user-solid.svg") !important;
}

#Title {
  background-image: url("../../images/briefcase-solid.svg") !important;
}

#Email {
  background-image: url("../../images/envelope-solid.svg") !important;
}

#Phone {
  background-image: url("../../images/phone-office-solid.svg") !important;
}

#Employees__c {
  background-image: url("../../images/employees.svg") !important;
}

#How_did_you_hear_about_us__c {
  background-image: url("../../images/circle-info-duotone.svg") !important;
  background-position: 10px 10px !important;
}

.main-contact-form {
  overflow: hidden;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  width: 100% !important;
  max-width: 100% !important;
}

.container .contact-form .main-contact-form .mktoForm .mktoButtonWrap.mktoSimple {
  width: 100% !important;
}

.card-image-wrapper img {
  height: 160px !important;
}

.single.single-captivate_podcast .post-subhead {
  display: none;
}

.mega-menu li.mega-column_3 > ul {
  padding-top: 1rem;
}

.navbar-nav {
  .regular-width .dropdown-menu {
    width: 260px !important;
    width: 260px !important;
  }

  > li.regular-width #mimeoMegaDropdown {
    top: 42px;
    width: 216px !important;
    padding-left: 20px !important;

      li {
        padding-bottom: 8px;
        
        a {
          font-size: 14px;
          color: #707070;
        }

        a:hover {
          color: #222;
        }
      }
  }
}

.mega-menu li.mega-column_3 a:hover {
  color: #222;
}

.navbar-nav {
  .regular-width .dropdown-menu .sub-menu.depth_1 {
    border: none;
    padding-top: 10px;
    padding-left: 10px;

    li {
      padding-top: 3px;
      padding-left: 5px;
    }

    .mega-column-wrapper_1 li:before {
      content: "— ";
    }
  }

}

.dot-left:after, .dot-right:after {
  display: none;
}

@media (max-width: 1200px) {
  .navbar-nav .regular-width .dropdown-menu {
    width: 100% !important;
    padding: 1rem 2rem;
    background: #cccccc;
  }
}

article {
  h2.wp-block-heading {
    font-weight: 600;
    margin-top: 45px;
    margin-bottom: 20px;
  }

  h3.wp-block-heading {
    margin-top: 27px;
    font-weight: 600;
  }
}

.container .contact-form .main-contact-form .mktoForm .mktoFormRow {
  &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(10) label {
    display: block !important;
  }

  &:nth-child(20), &:nth-child(21), &:nth-child(22), &:nth-child(23) {
    display: none !important;
  }
}

/* gravity forms */
body .gform_wrapper .gform_body .gfield_label {
  font-size: 14px;
  font-weight: 400;
  color: #39404a;
  line-height: 16px;
  margin-bottom: 5px;
  text-align: left;
  display: block;
}

body .gform_wrapper .gform_body input,
body .gform_wrapper .gform_body select {
  border: 1px solid #afafaf;
  border-radius: 4px;
  color: #737b7d;
}

body .gform_wrapper .gform_body select {
  border: 1px solid #afafaf;
  border-radius: 4px;
  color: #737b7d;
}

#gform_submit_button_1 {
  background-image: linear-gradient(90deg, #824d9d, #368bbe, #60a361);
  border: 1px #0000;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: -1rem;
  min-width: auto;
  padding: 10px 14px;
  width: 100%;
}

body img.gform_ajax_spinner {
  display: none !important;
}

.gform_heading {
  display: none;
}
