.block-form {
  @media (max-width: 600px) {
    .col-md-3.bottom-border:nth-child(1):before,
    .col-md-3.bottom-border:nth-child(2):before {
      background: none !important;
    }

    .col-md-3.bottom-border:nth-child(1):after,
    .col-md-3.bottom-border:nth-child(5):after,
    .col-md-3.bottom-border:nth-child(3):after,
    .col-md-3.bottom-border:nth-child(7):after {
      background: #fff !important;
    }

    section.block-form .h2,
    section.block-form h2 {
      font-size: 2rem;
    }
  }

  .gfield_radio,
  .gfield_checkbox {
    display: flex;
    justify-content: space-between;
  }

  .gfield_radio > div label {
    font-size: 16px;
  }

  #input_8_39 div {
    width: 23%;
  }

  #input_8_39 label {
    font-size: 16px;
  }

  .gform_wrapper.gravity-theme .gf_progressbar_percentage.percentbar_spring {
    background: linear-gradient(90deg, #59397a, #007ab7, #5b9042) !important;
  }

  .gform_wrapper.gravity-theme .gf_progressbar_percentage {
    height: inherit;
  }

  .gf_progressbar {
    width: 100%;
    background-color: #ddd;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
  }

  .gf_progressbar_percentage {
    height: 100%;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.3s ease;
  }

  .gform_wrapper.gravity-theme .gf_progressbar_percentage span {
    margin-top: 4px;
  }

  @keyframes progressBarAnimation {
      from {
          width: 0;
      }
  }

  .percentbar_spring {
      animation: progressBarAnimation 1s ease;
  }

  .gform_wrapper.gravity-theme .gfield input.large,
  .gform_wrapper.gravity-theme .gfield select.large {
    background: #f8f8f8;
    border: 1px solid #afafaf;
  }

  input[type=button].gform_next_button,
  .gform_wrapper.gravity-theme .gform_page_footer input+input {
    background: linear-gradient(90deg, #59397a, #007ab7, #5b9042);
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
  }

  .gform_wrapper.gravity-theme .gform_previous_button.button,
  .gform_wrapper.gravity-theme .gform_save_link.button {
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #afafaf;
    border-radius: 4px;
  }

  .gform_wrapper.gravity-theme button:hover,
  .gform_wrapper.gravity-theme input[type="button"]:hover,
  .wp-element-button:hover, 
  .wp-block-button__link:hover {
    opacity: 0.8;
  }

  .gform_wrapper .gform_body input {
    padding-left: 10px !important;
  }

  .gform_wrapper .gform_body input[type="button"],
  .gform_wrapper .gform_body input[type="submit"] {
    padding-left: 20px !important;
    min-width: 110px;
    line-height: inherit !important;
    border: 1px solid #fff;
  }

  .gform_wrapper .gform_body input[type=text],
  .gform_wrapper .gform_body input[type=email],
  .gform_wrapper .gform_body input[type=number],
  .gform_wrapper .gform_body select {
    background: #f8f8f8;
  }

  .gform_wrapper.gravity-theme input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file])
  :where(.wp-block-columns) {
    margin-bottom: 0;
  }

  .gform_wrapper .gfield_radio input[type="radio"],
  .gform_wrapper input[type="chekcbox"] {
    display: none;
  }

  .text-with-lines:before,
  .text-with-lines:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
  }

  .gchoice {
    z-index: 1;
    position: relative;
    margin: 0 10px 10px 0;
    padding: 0;
    display: flex;
    flex: 1 0 0;
  }

  input.gfield-choice-input {
   display: none !important;
  }

  input.gfield-choice-input:hover,
  .gchoice label:hover {
    cursor: pointer;
  }

  input.gfield-choice-input:checked {
    background: #4caF50;
  }

  .gform_wrapper.gravity-theme input.gfield-choice-input:checked + label {
    color: #fff;
    background-color: #4caF50;
  }

  .gform_wrapper.gravity-theme .gfield_radio label,
  .gform_wrapper.gravity-theme .gfield_checkbox label {
    flex-grow: 1;
    padding: 10px 0;
    background-color: #f8f8f8;
    border: 1px solid #afafaf;
    border-radius: 4px;
    cursor: pointer;
    max-width: none;
    text-align: center;
  }

  .block-form .gform_wrapper .gfield_radio input[type=radio]:checked + label {
    background-color: #4CAF50;
    color: white;
  }

  .gform_wrapper.gravity-theme .gfield_radio label:first-child {
    margin-left: 0;
  }

  .gchoice:first-child {
    margin-left: 0;
  }

  .gchoice:last-child {
    margin-right: 0;
  }

}
