.latest-posts-wrapper {
  .categories-list {
    background-color: #fff;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .categories-title-wrapper {
      color: #444;
      width: 100%;
      margin-bottom: 25px;
      font-size: 1.125rem;
      font-weight: 900;

      small {
        font-size: 0.875rem;
        font-weight: normal;
      }
    }

    .category-item {
      margin: 5px;
      padding: 10px 16px;
      line-height: 1.2;
      font-size: 0.875rem;
      color: $font-green;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #e3e3e3;

      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #444;
      }

      &.active {
        color: #fff;
        background-color: #444;
      }
    }
  }

  .post-type-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;

    .post-type-item {
      font-size: 1rem;
      line-height: 1;
      padding: 10px 35px;
      background-color: #fff;
      border: 1px solid #e3e3e3;
      margin: 0 10px 30px;
      color: $font-green;

      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #444;
        border-color: #444;
      }

      &.active {
        color: #fff;
        background-color: #444;
        border-color: #444;
      }
    }
  }
}

.latest-posts-loop {
  .latest-posts-row {
    .post-item-wrapper {
      .card-image-wrapper {
        position: relative;
        height: 160px;

        .background-image {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-size: cover;
          background-position: center center;
        }

        .over-image-label {
          position: absolute;
          top: 25px;
          left: 15px;
          background-color: #444;
          color: #fff;
          font-size: 0.875rem;
          font-weight: bold;
          padding: 10px 25px;
          border-radius: 0;
          display: inline-block;
        }
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  .latest-posts-wrapper .post-type-list .post-type-item {
    padding: 5px 20px;
    margin: 0 5px 10px;
  }
}
