html,
body {
  scroll-behavior: xsooth;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Helvetica', sans-serif;   
  background: white;
  text-rendering: geometricprecision;
  color: $font-grey;
  font-display: swap;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  font-weight: 700;
  color: #81755f;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 600;
  color: $font-grey;
}

a {
  text-decoration: none !important;
}

.desktop-break {
  @include media-breakpoint-up(lg) {
    display: block;
  }
  display: none;
}

.container-1320 {
  max-width: 1320px;
}

h1.gradient {
  background-clip: text;
  -webkit-text-fill-color: #0000;
  -moz-text-fill-color: #0000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-color: #f49701;
  background-image: linear-gradient(89deg, #593a7b, #0279b6, #598f44);
  background-size: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

ul.tickmarks {
  padding-left: 0;

  li {
    background-image: url("../../images/check-solid.svg");
    background-repeat: no-repeat;
    margin-left: 0;
    padding-left: 20px;
    list-style: none;
    background-position: 0 7px;
    line-height: 1.8;
  }
}

.accordion-button::after {
  width: 15px;
  height: 15px;
  background-size: 10px;
}

.accordion-button:not(.collapsed)::after {
  margin-right: 7px;
  margin-top: -7px;
}

// Blog Header tags match to editor.scss
.entry-content h3 {
  font-size: 1.125rem;
}

.entry-content h2 {
  font-size: 1.825rem;
}

a {
  color: $font-grey;
  text-decoration: none;
}

.color-blue {
  color: #2f77a7;
}

.bg-lighter {
  background-color: #f5f5f5;
}

.bg-gray {
  background-color: #81755f;
}

// Image alignment for Blog
.wp-block-image.aligncenter {
  display: block !important;
}

p a {
  color: $font-grey;
  text-decoration: none;
}

a:hover,
p a:hover {
  color: $mimeo-blue;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.font-black {
  font-weight: 900;
}

main {
  position: relative;
}

.screen-darken {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .7);
  pointer-events: none;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  position: absolute;
}

section.block h2 {
  text-align: center;
  font-size: 2.625rem;
  line-height: 1;
}

section.block.gradient h2 {
  text-align: left;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-color: #f49701;
  background-image: linear-gradient(89deg, #593a7b, #0279b6, #598f44);
  background-size: 100%;
  font-weight: 600;
  line-height: 1.2;
  width: fit-content;
  position: relative;
}

section.block.new h2.white {
  -webkit-text-fill-color: white;
}

section.block.gradient h2[data-title]::before {
  content: attr(data-title);
  display: block;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 600;
  -webkit-text-fill-color: #0000;
  -moz-text-fill-color: #0000;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-color: #f49701;
  background-image: linear-gradient(89deg, #593a7b, #0279b6, #598f44);
  background-size: 100%;
  opacity: 0.1;
  position: absolute;
  bottom: -4px;
  left: -4px;
}

.gradient-border {
  border: 0;
  padding: 0;
  position: relative;
}

.gradient-border:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(90deg, #59397a, #007ab7, #5b9042);
  border-radius: 5px 5px 0 0;
}

section.block h3 {
  font-size: 1.25rem;
}

section.block.new:not(.block-in-numbers) h3 {
  font-size: 1.125rem;
}

section.new.block-threecolumns-icons h3 {
  text-align: left;
  padding-left: 0;
  color: #81755f;
  font-weight: 600;
}

section .blue-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #f0eadc;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #81755f;
  
  background-color: #81755f;
  padding: 8px 22px 8px 12px;
  border-radius: 6px;
}

section .blue-link:hover {
  color: #fff;
  text-decoration: none;
}

section .blue-link::after {
  content: url("../../images/arrow-right-long-regular.svg");
  position: absolute;
  right: 10px;
  top: 0;
  height: 10px;
  width: 20px;
}

section.breadcrumb {
  border-bottom: 1px solid #dfe3e7;
  margin-bottom: 0;
  padding: 0.75rem 0;

  .header-container {
    max-width: 1320px;
  }

  p {
    margin-bottom: 0;
    font-size: 0.875rem;
  }
}

section.block p {
  font-size: 1rem;
  color: #81755f;
}

section.block p.prod-grid-title {
  font-size: 1.25rem;
  margin-bottom: 0;
}

section.blue-bg {
  background: $mimeo-blue-light;
}

section.grey-bg {
  background: #f2f3f5;
}

section.green-bg {
  background-color: $mimeo-green-light;
}

section.marketplace-bg {
  background-color: $mimeo-green;
  background-image: none !important;
}

section.print-bg {
  background-color: $mimeo-blue;
  background-image: none !important;
}

section.digital-bg {
  background-color: $mimeo-purple;
  background-image: none !important;
}

section.customisations {
  background: #fafafa;
}

.border-top-light {
  border-top: 1px solid rgb(189 194 199 / 44%);
}

.border-bottom-light {
  border-bottom: 1px solid rgb(189 194 199 / 44%);
}

.border-green:hover {
  border-color: #3f8871 !important;
}

.bordered {
  border: 1px solid #e0e0e0;
}

.btn-primary-outline {
  border: 1px solid;
}

.mb-45 {
  margin-bottom: 1.875rem;
}

.subhead {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: $font-size-normal;
  color: #7e8286;
}

.lighter-font {
  color: #7e8286;
}

.font-bold {
  font-weight: 600;
}

.max-width-55 {
  max-width: 550px;
}

.max-width-7 {
  max-width: 700px;
}

.max-width-75 {
  max-width: 750px;
}

.max-width-8 {
  max-width: 800px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgb(0 0 0 / 10%);
}

ul.soc-links li a:hover {
  color: $mimeo-blue-light;
}

.wp-block-image img {
  width: initial;
  max-width: 100%;
}

address a {
  font-weight: 400;
  &::hover {
    color: $mimeo-blue;
  }
}

ul.data-privacy-links li a {
  color: white;

  &::after {
    content: '|';
    margin: 0 10px;
  }
}

.eyebrow-image-top {
  width: 127px;
}

.logo-icon-image {
  width: 45px;
  position: absolute; 
  left: -22.5px;
}

ul.data-privacy-links li:last-child a::after {
  content: '';
  margin: 0;
}

.middle-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #bababa;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.middle-line span {
  background: #ffffff;
  padding: 0 10px;
}

@media (max-width: 575px) {
  .p-xs-0 {
    padding: 0 !important;
  }

  .p-xs-1 {
    padding: 0.25rem !important;
  }

  .p-xs-2 {
    padding: 0.5rem !important;
  }

  .p-xs-3 {
    padding: 1rem !important;
  }

  .p-xs-4 {
    padding: 1.5rem !important;
  }

  .p-xs-5 {
    padding: 3rem !important;
  }

  .px-xs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .px-xs-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }

  .px-xs-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .px-xs-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .px-xs-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .px-xs-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .py-xs-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .py-xs-1 {
    padding-bottom: 0.25rem !important;
    padding-top: 0.25rem !important;
  }

  .py-xs-2 {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }

  .py-xs-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }

  .py-xs-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
  }

  .py-xs-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }

  .pt-xs-0 {
    padding-top: 0 !important;
  }

  .pt-xs-1 {
    padding-top: 0.25rem !important;
  }

  .pt-xs-2 {
    padding-top: 0.5rem !important;
  }

  .pt-xs-3 {
    padding-top: 1rem !important;
  }

  .pt-xs-4 {
    padding-top: 1.5rem !important;
  }

  .pt-xs-5 {
    padding-top: 3rem !important;
  }

  .pe-xs-0 {
    padding-right: 0 !important;
  }

  .pe-xs-1 {
    padding-right: 0.25rem !important;
  }

  .pe-xs-2 {
    padding-right: 0.5rem !important;
  }

  .pe-xs-3 {
    padding-right: 1rem !important;
  }

  .pe-xs-4 {
    padding-right: 1.5rem !important;
  }

  .pe-xs-5 {
    padding-right: 3rem !important;
  }

  .pb-xs-0 {
    padding-bottom: 0 !important;
  }

  .pb-xs-1 {
    padding-bottom: 0.25rem !important;
  }

  .pb-xs-2 {
    padding-bottom: 0.5rem !important;
  }

  .pb-xs-3 {
    padding-bottom: 1rem !important;
  }

  .pb-xs-4 {
    padding-bottom: 1.5rem !important;
  }

  .pb-xs-5 {
    padding-bottom: 3rem !important;
  }

  .ps-xs-0 {
    padding-left: 0 !important;
  }

  .ps-xs-1 {
    padding-left: 0.25rem !important;
  }

  .ps-xs-2 {
    padding-left: 0.5rem !important;
  }

  .ps-xs-3 {
    padding-left: 1rem !important;
  }

  .ps-xs-4 {
    padding-left: 1.5rem !important;
  }

  .ps-xs-5 {
    padding-left: 3rem !important;
  }
}

.skip-link {
  display: none !important;
}

.sr-only {
  position: absolute ;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.home .block-image-with-list > .container {
  border-bottom: 1px solid #81755f;
  padding-bottom: 100px;
}

.home #list-6 > .container {
  border-bottom: none;
}

section.block-form p {
color: white;
}

section.block-form label { display: none;}

/* Custom styles for input fields */
input.form-control, textarea.form-control {
  background-color: transparent; /* Transparent background */
  color: #f0eadc !important; /* Text color for input text */
}

/* Style placeholder text */
::placeholder {
  color: #f0eadc !important; /* Placeholder text color */
  opacity: 1; /* Full opacity */
}


/* CSS */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    /* Change the border color */
    border-color: #80bdff; /* Example focus border color */
    background-color: transparent;
    /* Change the text color */
    color: #fff; /* Example focus text color */
    
    /* Optional: Add a box shadow for visual effect */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Example focus box shadow */
}

.bg-casa-light {
  background-color: $casa-light-bg;
}