html,
body {
  scroll-behavior: xsooth;
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Helvetica', sans-serif;   
  background: white;
  text-rendering: geometricprecision;
  color: $font-green;
  font-display: swap;
  color: #81755f;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  font-weight: 300;
  color: #81755f;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  color: $font-green;
}

a {
  text-decoration: none !important;
  font-weight: 300;
}

.desktop-break {
  @include media-breakpoint-up(lg) {
    display: block;
  }
  display: none;
}

.container-1320 {
  max-width: 1320px;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}